<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psionicinteractive.directorycc">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.psionicinteractive.directorycc.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.psionicinteractive.directorycc.DirectoryActivity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.HomeActivity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.MenuActivity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.PutGetExtra"></activity>
        <activity android:name="com.psionicinteractive.directorycc.AboutUsActivity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.FacilityActivity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.BirthdaysActivity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.GalleryActivity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.ContactActivity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.LocationActivity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.Facility_a_Activity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.Facility_b_Activity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.Facility_c_Activity"></activity>
        <activity android:name="com.psionicinteractive.directorycc.SettingsActivity"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".UploadImageActivity"></activity>

        <activity android:name="com.psionicinteractive.directorycc.SinglePushActivity"></activity>



        <!-- Firebase Notifications -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".PushActivity">

            <intent-filter>
                <action android:name="com.psionicinteractive.directorycc_TARGET_NOTIFICATION"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <!-- ./Firebase Notifications -->
    </application>

</manifest>